
<ul>
  <% @all_teams.each do |team| %>
  <h2><%=team.name%>, score: <%=team.total_score %></h2>
    <% team.players.each do |player|%>
    <li><%=player.name%> <%=player.score%></li>
    <%end%>
  <%end%>
</ul>